mat-form-field {
  margin: 15px;
}

.mat-button.mat-primary {
  border-radius: 8px;
  padding: 5px 15px;
  border: none;
  font-weight: bold;
  width: 120px;
  height: 45px;
  background: #bddbfa linear-gradient(to bottom, #919196 35%, #58595c 100%);
  margin: 30px auto;
  color: #2C3333;
}

.mat-input-element {
  font: inherit;
  background-color: rgba(221, 221, 221, 0) !important;
  color: currentColor;
}

