<div class="d-flex flex-wrap justify-content-center">
  <div *ngFor="let car of cars">
    <list-item (addToFavorite)="this.addInFavoritesList.emit(car)" [item]="car">

      <mat-card-title header> {{ car.name }} <span> - {{ car.releaseYear }}</span></mat-card-title>

      <img alt="avatar" image mat-card-image src="{{ car.imageUrl }}">

      <mat-card-content content>
        <p>Color: <span>{{ car.color }}</span></p>
        <p>Number: <span>{{ car.number }}</span></p>
      </mat-card-content>

    </list-item>
  </div>
</div>
