.header {
  padding-top: 50px;
  text-align: center;
}

.cars {
  width: 70%;
  padding: 50px 35px 35px 0;
  margin: auto;
}

.favorites {
  margin-top: 65px;
  width: 270px;
  border-radius: 8px;
  padding: 10px;
}

h2 {
  text-align: center;
}

img {
  margin: 100px 300px;
  width: 200px;
  height: 200px;
}

