<div class="row">
  <span>Add address:</span>

  <button (click)="addAddress()" mat-mini-fab>
    <mat-icon class="add-course-btn">add</mat-icon>
  </button>

  <div [formGroup]="formGroup" class="add-lessons-form">
    <ng-container *ngFor="let form of addresses.controls; let i = index">
      <address-item [addressForm]="getAddressForm(i)"></address-item>
      <button (click)="deleteAddress(i)" mat-mini-fab>
        <mat-icon class="delete-btn">delete_forever</mat-icon>
      </button>
    </ng-container>
  </div>
</div>




