
div {
  justify-content: right;
}

.row {
  border-radius: 8px;
  border: 2px solid #f8f6f6;
  width:70%;
  margin: 50px auto;
  justify-content: left;
  padding: 30px 10px;
}

button {
  display: inline-block;
}

span {
  font-size: 24px;
  font-weight: bold;
  width: auto;
  display: inline-block;
  line-height: 1.4;
}
