<div class="register">
  <div class="container">
    <div class="row">
      <app-welcome title="{{ pageName }}"></app-welcome>
    </div>
    <div class="formGroup">
      <form [formGroup]="registerFormGroup" action="">
        <mat-form-field appearance="fill">
          <mat-label>User name</mat-label>
          <input formControlName='userName' matInput placeholder="User name">
          <mat-error *ngIf="errorHandler('userName', 'required')">User name is required</mat-error>
          <mat-error *ngIf="errorHandler('userName', 'minlength')">This field must have more than 6 characters .
          </mat-error>
          <mat-error *ngIf="errorHandler('userName', 'maxlength')">This field must have less than 15 characters .
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input formControlName='password' matInput placeholder="Password" type="password">
          <mat-error *ngIf="errorHandler('password', 'required')">Password is required</mat-error>
          <mat-error *ngIf="errorHandler('password', 'hasNumber')">Number is required</mat-error>
          <mat-error *ngIf="errorHandler('password', 'hasCapitalCase')">hasCapitalCase is required</mat-error>
          <mat-error *ngIf="errorHandler('password', 'hasSmallCase')">hasSmallCase is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm</mat-label>
          <input formControlName='confirm' matInput placeholder="Password" type="password">
          <mat-error *ngIf="errorHandler('confirm', 'required')">Confirm is required</mat-error>
          <mat-error *ngIf="errorHandler('confirm', 'noPasswordMatch')">Confirm not match</mat-error>
        </mat-form-field>
      </form>

      <button (click)="submit()" class="button" type="submit">Submit</button>
    </div>
    <p>Already have an account?<a mat-button routerLink="/login" routerLinkActive="active-button">Please Sign in</a>
    </p>
  </div>
</div>
