<div class="header">
  <mat-toolbar color="primary">

    <div class="menu-items">
      <a mat-button routerLink="/{{appPaths.Home}}" routerLinkActive="active-button">Home</a>
      <a mat-button routerLink="/{{appPaths.News}}" routerLinkActive="active-button">News</a>
      <a mat-button routerLink="/{{appPaths.Users}}" routerLinkActive="active-button">Users</a>
      <a mat-button routerLink="/{{appPaths.Cars}}" routerLinkActive="active-button">Cars</a>
      <a mat-button routerLink="/{{appPaths.UserStatistics}}" routerLinkActive="active-button">User Statistics</a>
      <a mat-button routerLink="/{{appPaths.ClientStatistics}}" routerLinkActive="active-button">Client Statistics</a>
    </div>

    <div class="logged-user">
      <user-profile></user-profile>
    </div>

  </mat-toolbar>
</div>
