<div class="header">
  <mat-toolbar color="primary">

    <div class="menu-items">
      <a mat-button routerLink="/{{appPaths.Home}}" routerLinkActive="active-button">Home</a>
      <a mat-button routerLink="/{{appPaths.News}}" routerLinkActive="active-button">News</a>
      <a mat-button routerLink="/users/all" routerLinkActive="active-button">Users</a>
      <a mat-button routerLink="/cars/all" routerLinkActive="active-button">Cars</a>
    </div>

    <div class="logged-user">
      <user-profile></user-profile>
    </div>

  </mat-toolbar>
</div>
