mat-card {
  background-color: #d7d7d9;
  min-width: 145px;
  width: 220px;
  margin: 5px;
  color: #2C3333;
  font-weight: bold;

  &:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }

  img {
    margin-right: 15px;
    height: 200px;
  }

  mat-card-title {
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
  }

  .active {
    color: green;
    font-weight: bold;
  }

  .non-active {
    color: darkred;
    font-weight: bold;
  }
}



