.radio-button {
  padding-left: 100px;
  margin-bottom: 50px;
}

.mat-form-field {
  input {
    max-width: 300px;
    width: 60%;
    height: 50px;
    border-radius: 8px;
    border: 2px solid #868484;
    margin: 15px;
    color: #2C3333;
    padding: 10px;

  }
  input.ng-touched.ng-valid {
    border: 2px solid green;
  }

  input.is-invalid:not(form) {
    border: 2px solid crimson;
  }

  label {
    min-width: 100px;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
  }
}

.mat-radio-button {
  width: 80%;
  justify-content: center;
  margin: 15px auto 30px;

  input {
    width: 15px;
    height: 15px;
    margin-top: 10px;
  }

  label {
    padding: 10px 0;
    margin: 15px 0 0 10px;
  }

  .radio {
    width: 120px;
    padding: 0;
  }

  span {
    width: 100px;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
  }
}
