<div [formGroup]="userFormGroup" class="user-fields">
  <mat-form-field appearance="fill">
    <input matInput placeholder="Firs Name" formControlName="firstName" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input matInput placeholder="lastName" formControlName="lastName" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput placeholder="age" type="number" formControlName="age" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput type="email" placeholder="some@address.com" formControlName="email" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput type="string" placeholder="DEVAID COM" formControlName="company">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <input matInput type="string" placeholder="Data Entry" formControlName="department">
  </mat-form-field>

  <div class="row mat-radio-button">
    <span>Gender</span>
    <div class="radio">
      <input id="male"
             type="radio"
             name="gender"
             formControlName="gender"
             [value]="GenderEnum.Male">
      <label for="male">Male</label></div>
    <div class="radio">
      <input id="female"
             type="radio"
             name="gender"
             formControlName="gender"
             [value]="GenderEnum.Female">
      <label for="female">Female</label>
    </div>
    <div class="radio">
      <input id="notSpecified"
             type="radio"
             name="gender"
             formControlName="gender"
             [value]="GenderEnum.NotSpecified">
      <label for="notSpecified">Not specified</label>
    </div>
  </div>
</div>
