<div class="container">
  <div class="new-user">
    <p> Add new user </p>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="mat-form-field">
        <label>First name</label>
        <input
          type="string"
          placeholder="Jon"
          formControlName="firstName"
          [class.is-invalid]="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
        <br>
        <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="invalid-feedback">
          <span class="invalid" *ngIf="submitted && firstName?.errors?.['required']">This field is required.</span>
          <span class="invalid" *ngIf="submitted && firstName?.errors?.['minlength']">This field must have at least 3 character.</span>
          <span class="invalid" *ngIf="submitted && firstName?.errors?.['maxlength']"> This field must have at most 15 characters</span>
        </div>
      </div>
      <div class="mat-form-field">
        <label>Last name</label>
        <input
          type="string"
          placeholder="Smith"
          formControlName="lastName"
          [class.is-invalid]="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
        <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="invalid-feedback">
          <span class="invalid" *ngIf="submitted && lastName?.errors?.['required']">This field is required.</span>
          <span class="invalid" *ngIf="submitted && lastName?.errors?.['minlength']">This field must have at least 3 character.</span>
          <span class="invalid" *ngIf="submitted && lastName?.errors?.['maxlength']"> This field must have at most 15 characters</span>
        </div>
      </div>
      <div class="mat-form-field">
        <label>Age</label>
        <input
          type="number"
          placeholder="38"
          formControlName="age"
          [class.is-invalid]="age?.invalid && (age?.dirty || age?.touched)">
        <div *ngIf="age?.invalid && (age?.dirty || age?.touched)" class="invalid-feedback">
          <span class="invalid" *ngIf="submitted && age?.errors?.['required']">This field is required.</span>
          <span class="invalid" *ngIf="submitted && age?.errors?.['minlength']">This field must have at least 3 character.</span>
          <span class="invalid" *ngIf="submitted && age?.errors?.['maxlength']"> This field must have at most 15 characters</span>
        </div>
      </div>
      <div class="mat-form-field">
        <label>Email</label>
        <input
          type="email"
          placeholder="some@address.com"
          formControlName="email"
          [class.is-invalid]="email?.invalid && (email?.dirty || email?.touched)">
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="invalid-feedback">
          <span class="invalid" *ngIf="submitted && email?.errors?.['required']">This field is required.</span>
        </div>
      </div>
      <div class="mat-form-field">
        <label>Company</label>
        <input
          type="string"
          placeholder="DEVAID COM"
          formControlName="company"
          [class.is-invalid]="company?.invalid && (company?.dirty || company?.touched)">
        <div *ngIf="company?.invalid && (company?.dirty || company?.touched)" class="invalid-feedback">
          <span class="invalid" *ngIf="submitted && company?.errors?.['maxlength']">This field must have at most 50 characters</span>
        </div>
      </div>
      <div class="mat-form-field">
        <label>Department</label>
        <input
          type="string"
          placeholder="Data Entry"
          formControlName="department"
          [class.is-invalid]="department?.invalid && (department?.dirty || department?.touched)">
        <div *ngIf="department?.invalid && (department?.dirty || department?.touched)" class="invalid-feedback">
          <span class="invalid" *ngIf="submitted && department?.errors?.['maxlength']">This field must have at most 50 characters</span>
        </div>
      </div>

      <div class="row mat-radio-button">
        <span>Gender</span>
        <div class="radio">
          <input id="male"
                 type="radio"
                 name="gender"
                 formControlName="gender"
                 [value]="genderEnum.male"
                 [checked]="gender?.value === genderEnum.male">
          <label for="male">Male</label></div>
        <div class="radio">
          <input id="female"
                 type="radio"
                 name="gender"
                 formControlName="gender"
                 [value]="genderEnum.female"
                 [checked]="gender?.value === genderEnum.female">
          <label for="female">Female</label>
        </div>
        <div class="radio">
          <input id="notSpecified"
                 type="radio"
                 name="gender"
                 formControlName="gender"
                 [value]="genderEnum.notSpecified"
                 [checked]="gender?.value === genderEnum.notSpecified">
          <label for="notSpecified">Not specified</label>
        </div>
      </div>
      {{userForm.status}}
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="userForm.pristine">Submit</button>
    </form>
  </div>
</div>
