.cars {
  padding: 100px;

  p {
    font-size: 28px;
    font-weight: bold;

  }

  input {
    height: 35px;
    width: 30%;
    border-radius: 8px;
    border: 2px solid;
    padding: 0 10px;
    margin: 15px 15px 100px 0;
  }

  button {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    margin-top: 15px;
  }

  ul {
    list-style-type: none;

    li {
      border: 1px solid #ddd;
      margin-top: -1px; /* Prevent double borders */
      padding: 12px;
      border-radius: 8px;
    }
  }

  .car-list {
    margin-bottom: 15px;

    span {
      width: 10px;
      font-weight: bold;
      color: #5e2179;
      margin-right: 15px;
    }
  }

  h4 {
    color: #5e2179;
    font-weight: bold;
  }
}
