<div class="cars">
  <div class="container">
    <div class="row">
      <label>My favorite car</label>
      <input type="text"
             [(ngModel)]="carFormControl"
             placeholder="Audi A7">
      <button type="submit" (click)="addNewCar()">Add</button>
    </div>

    <div class="row" *ngIf="cars.length>0">
      <p>Cars List</p>
      <hr>
      <ul>
        <li class="car-list" *ngFor="let car of cars; let i = index">
          <span>{{i + 1}}.</span>  {{car.name}}
        </li>
      </ul>
    </div>
  </div>
</div>
