<div class="cars">
  <div class="container">
    <div class="row">
      <label>My favorite car</label>
      <input [(ngModel)]="carFormControl"
             placeholder="Audi A7"
             type="text">
      <button (click)="addNewCar()" type="submit">Add</button>
    </div>

    <div *ngIf="0 < cars.length" class="row">
      <p>Cars List</p>
      <hr>
      <ul>
        <li *ngFor="let car of cars; let i = index" class="car-list">
          <span>{{i + 1}}.</span>  {{car.name}}
        </li>
      </ul>
    </div>
  </div>
</div>
