<div class="container">
  <div class="row header">
    <p> Users List </p>
    <a mat-button routerLink="/new-user" routerLinkActive="active-button">Add new user</a>

    <button (click)="refresh()" type="submit"> Refresh</button>
  </div>

  <user-search
    (resetSearch)="getAllUsers()"
    (searchByName)="search($event)">
  </user-search>


  <div *ngIf="10 < totalItems" class="paginator">
    <paginator
      (nextPageEvent)="getAllUsers($event)"
      [totalCount]=totalItems>
    </paginator>
  </div>

  <div class="row">
    <div class="users">
      <img *ngIf="isLoading" alt="loading" src="/assets/img/loading.gif">
      <div *ngIf="!isLoading && 0 === totalItems" class="row not-found">Not Found any user</div>

      <users-list
        (addInFavoritesEvent)="toggleFavorites($event)"
        (downloadExcelEvent)="downloadExcel($event)"
        (getUserEvent)="getUser($event)"
        (saveUserEvent)="saveUser($event)"
        *ngIf="!isLoading"
        [users]="users">
      </users-list>

    </div>
    <div *ngIf="0 < favorites.length" class="favorites">
      <h2> Favorites </h2>

      <users-favorite-list [favorites]="favorites"></users-favorite-list>

    </div>
  </div>
  <div *ngIf="!isLoading">
  </div>
</div>

