<mat-card *ngIf="item">

  <mat-card-header>
    <ng-content select="[header]"></ng-content>
  </mat-card-header>

  <ng-content select="[image]"></ng-content>

  <mat-card-content>
    <ng-content select="[content]"></ng-content>
  </mat-card-content>

  <mat-card-actions *ngIf="isActionShowing">

    <button (click)="this.addToFavorite.emit(item)"
            aria-label="favorite"
            color="{{ item.isFavorite ? 'warn' : '' }}"
            mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>

    <button aria-label="edit"
            mat-icon-button
            routerLink="/edit-user/{{item.login}}"
            routerLinkActive="active-button">
      <mat-icon>edit</mat-icon>
    </button>

    <button
      (click)="this.downloadExcel.emit(item)"
      aria-label="edit"
      mat-icon-button
    >
      <mat-icon>download</mat-icon>
    </button>

    <button
      (click)="this.saveUser.emit(item)"
      aria-label="edit"
      mat-icon-button>
      <mat-icon>save</mat-icon>
    </button>

    <button
      (click)="this.getUser.emit()"
      aria-label="edit"
      mat-icon-button>
      GET
    </button>

  </mat-card-actions>

</mat-card>
