mat-card {
  padding: 20px 0;
  margin: 30px 15px 30px 0;
  background-color: #dddddd;
  color: #58595c;
  width: 270px;
}

mat-card-actions {
  margin: 10px;
}

button {
  border: 2px solid gray;
  border-radius: 4px;
  margin-right: 10px;
  padding: 0 5px;
  width: auto;
}

